.fxs_hideElements {
  display: none!important;
}
.fxs_col_50 .fxs_widget_marketimpact li a {
  font-size: 0.7rem;
}
.fxs_widget_marketimpact {
  margin-top: 40px;
}
.fxs_select_wrap {
  text-align: right;
  padding-top: 10px;
}
