/* client custom styles */
.widget_news a {
  color: #e4871b;
  text-decoration: none;
}
.widget_news a:hover {
  color: #000;
}
.widget_news a.news_update {
  color: #fff;
}
.widget_news a.link_invert {
  color: #000;
}
.widget_news a.link_invert:hover {
  color: #e4871b;
}
/* Progress Bar */
.fxs_progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #DDDEDF;
  background-clip: padding-box;
  overflow: hidden;
}
.fxs_progress .fxs_indeterminate {
  background-color: #338473;
}
.fxs_progress .fxs_indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: fxs_indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: fxs_indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.fxs_progress .fxs_indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: fxs_indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: fxs_indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@-webkit-keyframes fxs_indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes fxs_indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes fxs_indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes fxs_indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
/* css for client */
.fxs_hideElements {
  display: none;
}
/* close buttonn */
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
button,
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
input {
  border: 0;
  outline: 0;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
}
.fxs_widget_news {
  overflow: hidden;
  position: relative;
  border: 1px solid #DDDEDF;
}
.fxs_widget_news .fxs_alert {
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fxs_widget_news .cbp-spmenu-open {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}
@media (min-width: 768px) {
  .fxs_widget_news .cbp-spmenu-open {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.fxs_widget_news .fxs_widget_news_items_container,
.fxs_widget_news .fxs_widget_news_sidenav_items_container {
  max-height: 400px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 1150px) {
  .fxs_widget_news .fxs_widget_news_items_container,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .fxs_widget_news .fxs_widget_news_items_container::-webkit-scrollbar,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container::-webkit-scrollbar,
  .fxs_widget_news .fxs_widget_news_items_container::-webkit-scrollbar-track,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container::-webkit-scrollbar-track,
  .fxs_widget_news .fxs_widget_news_items_container::-webkit-scrollbar-corner,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container::-webkit-scrollbar-corner,
  .fxs_widget_news .fxs_widget_news_items_container::-webkit-scrollbar-button,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container::-webkit-scrollbar-button {
    background-color: transparent;
  }
  .fxs_widget_news .fxs_widget_news_items_container::-webkit-scrollbar,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 0;
  }
  .fxs_widget_news .fxs_widget_news_items_container::-webkit-scrollbar-track,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container::-webkit-scrollbar-track {
    box-shadow: inset 0 -2px 4px rgba(255, 255, 255, 0.33);
  }
  .fxs_widget_news .fxs_widget_news_items_container::-webkit-scrollbar-thumb,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
    background-color: rgba(120, 121, 122, 0.4);
    border-radius: 0;
  }
  .fxs_widget_news .fxs_widget_news_items_container::-webkit-scrollbar-button,
  .fxs_widget_news .fxs_widget_news_sidenav_items_container::-webkit-scrollbar-button {
    display: none;
  }
}
.fxs_widget_news .fxs_divider_wide {
  height: 3px;
}
.fxs_widget_news .fxs_headline_tiny {
  margin-top: 0;
}
.fxs_widget_news .fxs_power {
  position: absolute;
  right: 1rem;
  line-height: 35px;
}
.fxs_widget_news .fxs_power a {
  text-decoration: none;
  color: #E4871B;
}
.fxs_widget_news .fxs_subtitle {
  margin-top: 0;
}
.fxs_widget_news .fxs_entryFeatured {
  margin-bottom: 1rem;
}
.fxs_widget_news .fxs_entryFeatured p {
  margin: 0;
}
.fxs_widget_news.fxs_third_content .fxs_widget_news_content {
  margin-left: 0;
  position: relative;
}
.fxs_widget_news .fxs_widget_news_sidenav {
  border-right: 1px solid #ccc;
  left: -250px;
  height: 100%;
  position: absolute;
  background-color: #FFF;
  z-index: 1;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .fxs_widget_news .fxs_widget_news_sidenav.fxs_hide_sidebar + .fxs_widget_news_content {
    margin-left: 250px;
  }
}
.fxs_widget_news .fxs_widget_news_sidenav.fxs_hide_sidebar + .fxs_widget_news_content .fxs_widget_news_show_filter a {
  display: inline-block;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .fxs_widget_news .fxs_widget_news_sidenav.fxs_hide_sidebar + .fxs_widget_news_content .fxs_widget_news_show_filter a {
    display: none;
  }
}
.fxs_widget_news .fxs_widget_news_sidenav.fxs_hide_sidebar + .fxs_widget_news_content .fxs_widget_news_show_filter .fxs_divider_third {
  display: block;
}
@media (min-width: 768px) {
  .fxs_widget_news .fxs_widget_news_sidenav.fxs_hide_sidebar + .fxs_widget_news_content .fxs_widget_news_show_filter .fxs_divider_third {
    display: none;
  }
}
@media (min-width: 768px) {
  .fxs_widget_news .fxs_widget_news_sidenav {
    width: 250px;
    left: auto;
  }
}
.fxs_widget_news .fxs_widget_news_sidenav .fxs_widget_news_close_filter {
  transition: 0.3s;
  right: 0;
  line-height: 35px;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .fxs_widget_news .fxs_widget_news_sidenav .fxs_widget_news_close_filter {
    display: none;
  }
}
.fxs_widget_news .fxs_entryExcerpt {
  font-size: 0.8rem;
}
.fxs_widget_news .fxs_widget_news_clear {
  font-size: 0.8rem;
  line-height: 35px;
  padding-left: 1rem;
}
.fxs_widget_news .fxs_widget_news_item {
  color: #49494F;
  font-size: 0.92rem;
}
.fxs_widget_news .fxs_widget_news_nav {
  text-align: right;
  padding: 0 20px 0 20px;
}
.fxs_widget_news .fxs_widget_container_gutter {
  min-height: 450px;
}
