.fxs_cag_tabs_container {
  max-width: 530px;
}
.forecast_avg_result.fxs_forecast_avg_cag {
  border-top: 0;
  padding-top: 2rem;
  position: relative;
  padding-left: 10px;
}
.forecast_avg_result.fxs_forecast_avg_cag .fxs_forecast_avg_cag_content {
  padding-top: 21px;
}
.forecast_avg_result.fxs_forecast_avg_cag .fxs_forecast_avg_cag_content .fxs_widget_custom_bold {
  font-weight: 400;
}
.forecast_avg_result.fxs_forecast_avg_cag .fxs_forecast_avg_cag_content .fxs_label {
  padding: 0;
}
.fxs_forecast_col {
  width: 100%;
  float: left;
}
@media (min-width: 680px) {
  .fxs_forecast_col {
    width: 80px;
  }
}
.fxs_tabs_col {
  float: left;
}
.fxs_chart_cag_cont .fxs_widget_price.fxs_widget_price_header.fxs_widget_price_header_cag {
  border-bottom: 1px solid #ECECF1;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0.7rem;
  padding-bottom: 1rem;
}
.fxs_indexes_tabpanel.fxs_indexes_cag .fxs_tabs_nav {
  margin-bottom: 0;
}
.fxs_indexes_tabpanel.fxs_indexes_cag .fxs_indexes_cag_item {
  display: inline-block;
  padding-right: 1.5rem;
  padding-top: 1rem;
}
.fxs_widget_pivotPoints.fxs_widget_pivotPoints_cag {
  padding-top: 0;
}
@media (min-width: 680px) {
  .fxs_widget_pivotPoints.fxs_widget_pivotPoints_cag {
    padding-top: 3.7rem;
  }
}
.fxs_widget_pivotPoints.fxs_widget_pivotPoints_cag .fxs_pivot {
  background-color: transparent;
}
.fxs_widget_pivotPoints.fxs_widget_pivotPoints_cag .fxs_label {
  font-weight: bold;
}
.fxs_widget_pivotPoints.fxs_widget_pivotPoints_cag .fxs_pivotPoints_list_item {
  padding-bottom: 1rem;
}
