.fxs_suscribe.fxs_subscribe_light {
  background-color: #FFF;
  border: 1px solid #A3A3A8;
  padding: 1rem;
  margin: 0;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
  background-color: #E4871B;
  float: left;
  display: inline-block;
  text-align: center;
  margin-left: 0;
  background-image: url(/website/img/fxs_email.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_suscribeText.fxs_subscribe_title {
  color: #1B1C23;
  font-weight: bold;
}
.fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits {
  display: inline-block;
  float: left;
  clear: both;
  color: #8C8D91;
  font-size: 0.92rem;
  width: 100%;
  font-weight: 400;
  margin-bottom: .5rem;
}
.fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fa-check {
  color: #338473;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group {
  float: right;
  display: inline-block;
  max-width: 48%;
  width: 48%;
  margin-bottom: 0;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
  max-width: calc(50% -1rem);
  width: calc(50% -1rem);
  float: right;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group .fxs_btn_cta {
  line-height: 33px;
  float: right;
  margin: 0;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group .fxs_btn_cta:first-child {
  width: calc(100% -38px);
  float: left;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_list_unstyled.fxs_dropdownList_notwide {
  background-color: #FFF;
  color: #1B1C23;
  border: 1px solid #A3A3A8;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_list_unstyled.fxs_dropdownList_notwide label {
  color: #1B1C23;
  font-size: .8rem;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_list_unstyled.fxs_dropdownList_notwide li:first-child label {
  font-size: 1rem;
}
.fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_dropdownList_notwide {
  position: absolute;
  top: 38px;
  width: 100%;
  display: block;
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-size: 14px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    background-size: 25px;
  }
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper {
  float: left;
  display: inline-block;
  max-width: calc(100% -30px);
  width: calc(100% -30px);
}
@media (min-width: 768px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper {
    max-width: calc(71% -50px);
    width: calc(71% -50px);
  }
}
@media (min-width: 1024px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper {
    max-width: calc(51% -50px);
    width: calc(51% -50px);
  }
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title {
  font-size: 1.1rem;
  line-height: 20px;
  display: inline-block;
  float: left;
  clear: none;
  margin: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title {
    display: block;
    clear: both;
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.35em;
    line-height: 35px;
  }
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits {
  width: 100%;
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: .5rem;
}
@media (min-width: 680px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
    width: 50%;
  }
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group {
  float: right;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group {
    max-width: 29%;
    width: 29%;
  }
}
@media (min-width: 1024px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group {
    max-width: 49%;
    width: 49%;
  }
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
  max-width: 100%;
  width: 100%;
  float: right;
}
@media (min-width: 1024px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
    max-width: 50%;
    width: 50%;
  }
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group .fxs_btn_cta {
  line-height: 33px;
  float: right;
  margin: 0;
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group .fxs_btn_cta:first-child {
  width: calc(100% -38px);
  float: left;
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput {
  width: 100%;
  max-width: 100%;
  margin: 0 0 1rem 0;
}
@media (min-width: 1024px) {
  .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput {
    width: calc(50% -2rem);
    max-width: calc(50% -2rem);
    margin: 0 1rem;
  }
}
.fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_dropdownList_notwide {
  top: 38px;
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 10px;
  background-size: 14px;
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper {
  font-size: 1rem;
  float: left;
  display: inline-block;
  max-width: calc(70% -30px);
  width: calc(70% -30px);
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title {
  clear: none;
  display: inline-block;
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  line-height: 20px;
  max-width: 100%;
  width: 100%;
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits {
  width: 100%;
  max-width: 100%;
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
  width: 100%;
  max-width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: .5rem;
}
@media (min-width: 768px) {
  .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
    width: 50%;
    max-width: 50%;
  }
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group {
  float: left;
  display: inline-block;
  margin: 0;
  clear: none;
  max-width: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group {
    max-width: 30%;
    width: 30%;
  }
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_dropdownList_notwide {
  top: 38px;
  display: block;
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput {
  width: 100%;
  max-width: 100%;
  margin: 0 0 1rem 0;
}
.fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 10px;
  background-size: 14px;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper {
  width: calc(100% -30px);
  max-width: calc(100% -30px);
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title {
  font-size: 1.2rem;
  max-width: calc(100% -30px);
  width: calc(100% -30px);
  display: inline-block;
  float: left;
  clear: none;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 20px;
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits {
  width: calc(100% -30px);
  max-width: calc(100% -30px);
  float: left;
  clear: none;
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
  width: 100%;
  max-width: 100%;
  margin-bottom: .5rem;
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group {
  width: 100%;
  max-width: 100%;
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput {
  width: 100%;
  max-width: 100%;
  margin: 0 0 1rem 0;
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
  width: 100%;
  max-width: 100%;
}
.fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_dropdownList_notwide,
.fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_dropdownList_notwide,
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_dropdownList_notwide {
  top: 38px;
}
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 10px;
  background-size: 14px;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title {
  font-size: 1.2rem;
  max-width: calc(100% -30px);
  width: calc(100% -30px);
  display: inline-block;
  float: left;
  clear: none;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 20px;
}
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits {
  width: calc(100% -30px);
  max-width: calc(100% -30px);
  float: left;
  clear: none;
}
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
  margin-bottom: .5rem;
  float: left;
  display: inline-block;
}
@media (min-width: 1280px) {
  .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
    width: 50%;
    max-width: 50%;
  }
}
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_subscribeForm_group {
  width: 100%;
  max-width: 100%;
}
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_subscribeForm_group .fxs_textInput {
  width: 100%;
  max-width: 100%;
  margin: 0 0 1rem 0;
}
@media (min-width: 1024px) {
  .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_subscribeForm_group .fxs_textInput {
    width: calc(50% -2rem);
    max-width: calc(50% -2rem);
    margin: 0 1rem;
  }
}
.fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_subscribeForm_group .fxs_btn_group {
  max-width: 100%;
  width: 100%;
  float: right;
}
@media (min-width: 1024px) {
  .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_subscribeForm_group .fxs_btn_group {
    max-width: 50%;
    width: 50%;
  }
}
.sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope,
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope,
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
  background-size: 25px;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper,
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper,
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper {
  max-width: calc(100% -51px);
  width: calc(100% -51px);
}
.sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title,
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title,
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 35px;
}
.sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits,
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits,
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits {
  width: 100%;
  max-width: 100%;
}
.sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit,
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit,
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 1150px) {
  .sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit,
  .sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit,
  .sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
    width: 50%;
    max-width: 50%;
    margin-bottom: .5rem;
  }
}
.sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group,
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group,
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group {
  max-width: 100%;
  width: 100%;
}
.sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput,
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput,
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput {
  width: 100%;
  max-width: 100%;
  margin: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput,
  .sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput,
  .sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput {
    width: calc(50% -1rem);
    max-width: calc(50% -1rem);
    margin: 0 1rem 1rem 0;
  }
}
.sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group,
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group,
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .sticky-holder .fxs_col_100 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group,
  .sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group,
  .sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
    width: 50%;
    max-width: 50%;
  }
}
.sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 10px;
  background-size: 14px;
}
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope,
.sticky-holder .fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope,
.sticky-holder .fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_subscribe_envelope {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 10px;
  background-size: 14px;
}
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title,
.sticky-holder .fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title,
.sticky-holder .fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_subscribe_title {
  max-width: calc(100% -30px);
  width: calc(100% -30px);
  display: inline-block;
  float: left;
  clear: none;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 20px;
}
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit,
.sticky-holder .fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit,
.sticky-holder .fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
  width: 100%;
  max-width: 100%;
  margin-bottom: .5rem;
}
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput,
.sticky-holder .fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput,
.sticky-holder .fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput {
  width: 100%;
  max-width: 100%;
}
.sticky-holder .fxs_col_50 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group,
.sticky-holder .fxs_col_33 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group,
.sticky-holder .fxs_col_25 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
  width: 100%;
  max-width: 100%;
}
.fxs_content .sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_title_benefits_wrapper .fxs_benefits .fxs_benefit {
  width: 100%;
  max-width: 100%;
}
.fxs_content .sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_textInput {
  width: 100%;
  max-width: 100%;
  margin: 0 0 1rem 0;
}
.fxs_content .sticky-holder .fxs_col_67 .fxs_suscribe.fxs_subscribe_light .fxs_subscribeForm_group .fxs_btn_group {
  width: 100%;
  max-width: 100%;
}
